<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPT_API_KEY</key>
	<string>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</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.openai.com</key>
			<dict>
				<key>Includes Subdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
